@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a2e;
  --foreground: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}
